<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1>Student Information System</h1>
    <p>Welcome to <%= title %></p>

    <p><a href="/find">查询</a></p>
    <p><a href="/add">新增</a></p>
    <p><a href="/update">修改</a></p>
    <p><a href="/delete">删除</a></p>

  </body>
</html>
